<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="yeohweizhu.mynote">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_note"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity"
                  android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".FullDetailNoteActivity"
                  android:windowSoftInputMode="stateUnchanged"
                  >
        </activity>
        <activity android:name=".NoteWidgetConfigurationActivity"
                  android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <provider android:name="yeohweizhu.mynote.NoteProvider"
                  android:authorities="yeohweizhu.mynote.NoteProvider"/>

        <receiver android:name="NoteWidgetProvider" >
            <intent-filter >
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver android:name=".NotificationAlarmReceiver"  android:enabled="true">
        </receiver>
        <service
            android:name=".NoteWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <receiver
            android:name=".MyNoteBootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>